.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav-button {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
}

.nav-button.active {
  font-weight: bold;
}

.nav-button:hover {
  color: #ddd;
}

.container {
  padding-top: 60px;
}
